# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Environment variables
*.env

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# IDE / Editor configs
.vscode/
.idea/
.ipynb_checkpoints/